

@{
    Layout = null;
    ViewBag.Title = "SignIn";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/system.css" asp-append-version="true">
</head>
<body>
    <div class="container">
        <div class="nav-links1">
            <a href="~/User/SignIn" class="nav-link1">Login</a>
            <a href="~/User/SignUp" class="nav-link1">SignUp</a>
        </div>

        <div class="content">
            <!-- Phần Form Đăng Nhập -->
            <div class="login-form">
                <form action="~/User/SignIn" method="post">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" value="@ViewData["UserName"]" required>

                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <div class="password-wrapper">
                            <input type="password" id="password" name="password" required>
                            <span class="toggle-password" onclick="togglePassword()">&#128065;</span>
                        </div>
                        @if (ViewData.ModelState["Password"] != null && ViewData.ModelState["Password"].Errors.Count > 0)
                        {
                            <div class="text-danger">
                                @foreach (var error in ViewData.ModelState["Password"].Errors)
                                {
                                    <p>@error.ErrorMessage</p>
                                }
                            </div>
                        }
                    </div>

                    <button type="submit" class="btn">Login</button>
                   
                </form>
            </div>

            <div class="welcome-message">
                <h2>Chào mừng đến với thư viện ABC</h2>
                <p>Khám phá kho sách phong phú và dịch vụ tuyệt vời của chúng tôi.</p>
            </div>
        </div>
    </div>

 
    <script>
        function togglePassword() {
            var passwordInput = document.getElementById("password");
            var toggleIcon = document.querySelector(".toggle-password");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.innerHTML = "&#128065;"; // Biểu tượng mắt mở
            } else {
                passwordInput.type = "password";
                toggleIcon.innerHTML = "&#128065;"; // Biểu tượng mắt đóng
            }
        }
    </script>
</body>
</html>
